@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: rubik;
  text-align: center;
  color: pink;
  background-color: black;
}
img {
  height: 500px;
  width: 500px;
}
button {
  height: 50px;
  width: 50px;
  font-size: larger;
  text-decoration: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
